<%- include('../partials/header') %>


<div class='all-drink-page'>
<h1 id="drinks-list">All Drinks</h1>


        <% drinks.forEach(function(d){ %>
            <div class="drink container">

                <%if (user._id.equals (user && user._id)) { %>

                <form id="delete" name="_method" method="POST" action="/drinks/<%= d._id %>/?_method=DELETE">
                    <input id="x" type="submit" value="X">
                </form>

                <% } %>

            <ul class="drink-data">
                <li class="drink-name"><%= d.title %></li>
                <li class="details"><a href="/drinks/<%= d._id %>">Details</a></li>
                </ul>
            </div>
            <% }); %>

        </div>

    <%- include('../partials/footer') %>