<%- include('../partials/header') %>

<nav>
    <% if (user) { %>
        <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
    <% } else { %>
        <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
    <% } %>
</nav>

<div class='all-drink-page'>
<h1 id="drinks-list">All Drinks</h1>


        <% drinks.forEach(function(d){ %>
            <div class="drink container">
                <form id="delete" name="_method" method="POST" action="/drinks/<%= d._id %>/?_method=DELETE">
                    <input id="x" type="submit" value="X">
                </form>
            <ul class="drink-data">
                <li class="drink-name container"><%= d.title %></td>
                <li class="details"><a href="/drinks/<%= d._id %>">Details</a></li>
                </ul>
            </div>
            <% }); %>

        </div>

    <%- include('../partials/footer') %>