<%- include('../partials/header2') %>

<section id="show-page">
    <div id="drink-title"><%= drink.title %></div>


    <div id="ingredient-title" class='showhead'>Ingredients</div>
    <ul>
    <% drink.ingredients.forEach(function(i) { %>
    <div class="showlist"><li><%= i %></li></div>
    <% }) %>        
</ul>

    <div id="directions-title" class='showhead'>Directions</div>
    <ol>
        <% drink.directions.forEach(function(dir) { %>
    <div class="showlist"><li><%= dir %></li></div>
    <% }) %>
    </ol>
</section>

<section>
    <h1 class="showhead">Add Review</h1>
    <form id="add-review" method="POST" action="/drink/<%= drink._id %>">
    <label>Review:</label>
    <textarea name="content" class="type-here"></textarea>
    <label>Rating:</label>
    <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <input type="submit" value="Add Review" id="review">
    </form>
</section>

<section>
    <h2 class="showhead">Reviews</h2>
</section>

<% if (drink.reviews.length) { %>
    <div class="reviewtable container">
    <table>
        <thead>
            <tr id="tablehead">
                <td>How was it?</td>
                <td>Rating</td>
            </tr>
        </thead>
        <tbody>
        <% drink.reviews.forEach(function(r){ %>
        <tr class="fullreview">
            <td class="reviewcont"><%= r.content %></td>
            <td class="reviewrate"><span id="number"><%= r.rating %></span> <br> <span id="outof">out of 5</span></td></td>
        </tr>
        <% }); %>
    </tbody>
    </table>
    </div>

    <% } else { %>
        <h3>No reviews yet</h3>
        <% } %>


<%- include('../partials/footer') %>